a{
  color:#f2f2f7;
  text-decoration: none;
  padding: 10px 15px;
  font-family: 'Crimson Pro', serif;
 }


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-Home {
  background-color: #5754f3;
  height: 100vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NoDuermo{
  background-color: #91ec96;
  
}
.Listas{
  max-width: 425px;
}
.Subtitulos {
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
    /* top: 0;
  position: sticky; */
  background-color: #5754f3;
  
}
.TopNavegador{
   top: 0;
   z-index: 1;
   position: sticky;
}
.Menu-abajo{
  bottom: 0;
  position: sticky;

}

.Botones-inicio{
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;


}

